div {
  overflow-x: hidden;
}

.card {
  transition: 0.5s;
  border: none;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-body {
  padding-bottom: 0;
}

p {
  font-size: 14px;
}

.list-group-item {
  border: none;
}